@charset "UTF-8";
/* Resetear estilos predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Hacer que el alto y ancho de la caja contemple los márgenes y el relleno */
}

/* Estilos responsivos para pantallas pequeñas (576px o menos) */
@media (max-width: 576px) {
  .background-image {
    height: 30vh;
  }
  .background-image h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
  .piePag {
    font-size: 0.3rem;
  }
  .mapouter {
    height: 200px;
    width: 100%;
  }
  .gmap_canvas {
    height: 200px;
  }
  .gmap_iframe {
    height: 180px !important;
  }
  .boxContacto {
    width: 95%;
    margin: auto;
  }
  .boxProgramas1 {
    align-items: center;
    justify-content: center;
  }
  .boxProgramas2 {
    align-items: center;
    justify-content: center;
  }
}
/* Estilos responsivos para pantallas medianas (entre 577px y 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .background-image {
    height: 40vh;
  }
  .background-image h1 {
    font-size: 2.35rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  .mapouter {
    height: 220px;
    width: 70%;
  }
  .gmap_canvas {
    height: 220px;
  }
  .gmap_iframe {
    height: 200px !important;
  }
  .boxProgramas1 {
    align-items: center;
    justify-content: center;
  }
  .boxProgramas2 {
    align-items: center;
    justify-content: center;
  }
}
/* Estilos responsivos para pantallas grandes (entre 769px y 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .background-image {
    height: 45vh;
  }
  .background-image h1 {
    font-size: 3.2rem; /* Tamaño de fuente para pantallas grandes */
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
  .text-box-h3 {
    top: 64%;
  }
  .mapouter {
    height: 270px;
    width: 70%;
  }
  .gmap_canvas {
    height: 270px;
  }
  .gmap_iframe {
    height: 250px !important;
  }
}
/* Estilos responsivos para pantallas mayores a 992px */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: block !important;
    flex-basis: content; /* Esto significa que el tamaño base de los elementos se ajustará automáticamente al contenido que contienen. */
  }
}
header .logo {
  padding: 2px;
  height: 50px;
}
header nav div .navbar-collapse {
  flex-grow: unset !important; /* Desactivar el crecimiento flexible de la barra de navegación. El!important es una regla de prioridad que indica que esta declaración de estilo debe aplicarse incluso si existen otras reglas que intentan cambiar la propiedad.*/
}
header nav div ul li a:hover {
  text-decoration: underline; /* Subrayar */
  text-decoration-color: rgb(103, 195, 222); /* Color de la subrayado */
  text-decoration-thickness: 3px; /* Grosor de la subrayado */
}

main .background-image {
  height: 45vh; /* Fijar la altura de la imagen de fondo al 45% de la altura del viewport */
  background-image: url("../img/fondo.jpg");
  background-size: cover; /* Hacer que la imagen de fondo cubra todo el espacio disponible */
  background-position: center center; /* Centrar la imagen de fondo */
  display: flex !important; /* Forzar la visualización como flex */
  flex-direction: column; /* Establecer la dirección de la columna para los elementos secundarios flex */
  justify-content: center; /* Centrar horizontalmente el contenido */
}
main .background-image .text-box {
  align-self: center;
  font-family: "Playfair Display";
  text-align: center;
}
main .background-image .text-box h1 {
  font-size: 4rem;
  color: #fff;
  background-color: rgb(103, 195, 222);
  opacity: 0.8; /* Establecer la opacidad al 80% (20% de transparencia) */
  padding: 5px;
}
main .background-image .text-box h3 {
  font-size: 2.3rem;
  background-color: rgb(255, 255, 255);
  color: rgb(103, 195, 222);
  padding: 5px;
}
main section {
  text-align: center;
  font-family: "Playfair Display";
}
main section div h2 {
  font-size: 3rem;
  color: rgb(103, 195, 222);
  padding-top: 5px;
  padding-bottom: 5px;
}
main section div img .imgProgramas {
  padding: 10px;
  position: relative;
}
main section div h4 {
  font-size: 1.7rem;
  padding: 5px;
  justify-content: center;
  margin: auto;
  text-align: center;
  margin-bottom: 2px;
}
main section div p {
  text-align: justify;
  text-justify: inter-word;
}
main section div .textoGris {
  color: gray;
  margin-top: 3px;
  margin-bottom: 0;
  text-align: center;
}
main section div .lineaCeleste {
  border: 3px solid rgb(103, 195, 222);
  width: 10%;
  opacity: 1;
  margin: 0 auto 15px auto;
}
main section div div .botonReserva {
  padding: 10px;
  width: fit-content;
  background-color: rgb(103, 195, 222);
}
main section div div .botonReserva .linkReserva {
  text-decoration: none;
  color: white;
}
main section div div .botonReserva .linkReserva:hover {
  color: black;
  font-size: larger;
  border: 3px solid rgb(103, 195, 222);
  padding: 5px;
  border-radius: 5px;
}

.footer {
  font-size: 1rem;
  background-color: rgba(7, 7, 7, 0);
  text-align: center;
}
.footer .hr {
  border: 10px;
  color: rgba(0, 0, 0, 0);
  padding: 2px;
}

section div .imgNoticias {
  height: 250px;
  width: fit-content;
  margin: auto;
}

section div .boxProgramas1 {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
section div .boxProgramas1 .imgProgramas {
  width: 100% !important;
  padding: 10px;
  align-content: center;
}
section div .boxProgramas2 {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
section div h4 {
  font-size: 1.7rem;
  color: rgb(103, 195, 222);
}
section div p {
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
