.footer {
  font-size: 1rem;
  background-color: rgba(7, 7, 7, 0);
  text-align: center;
  .hr {
    border: 10px;
    color: rgba(0, 0, 0, 0);
    padding: 2px;
  }
  section {
    a {
      i {
        color: $colorBase;
      }
    }
  }
}
