/* Resetear estilos predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Hacer que el alto y ancho de la caja contemple los márgenes y el relleno */
}



/* Estilos responsivos para pantallas pequeñas (576px o menos) */
@media (max-width: 576px) {
 
  .background-image {
    height: 30vh;
    h1 {
      font-size: 1.5rem;
    }
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
  .piePag {
    font-size: 0.3rem;
  }
  .mapouter {
    height: 200px;
    width: 100%;
  }
  .gmap_canvas {
    height: 200px;
  }
  .gmap_iframe {
    height: 180px !important;
  }
  .boxContacto {
    width: 95%;
    margin: auto;
  }
  .boxProgramas1 {
    align-items: center;
    justify-content: center;
  }
  .boxProgramas2 {
    align-items: center;
    justify-content: center;
  }
}

/* Estilos responsivos para pantallas medianas (entre 577px y 768px) */
@media (min-width: 577px) and (max-width: 768px) {

  .background-image {
    height: 40vh;
    h1 {
      font-size: 2.35rem;
    }
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  .mapouter {
    height: 220px;
    width: 70%;
  }
  .gmap_canvas {
    height: 220px;
  }
  .gmap_iframe {
    height: 200px !important;
  }
  .boxProgramas1 {
    align-items: center;
    justify-content: center;
  }
  .boxProgramas2 {
    align-items: center;
    justify-content: center;
  }
}

/* Estilos responsivos para pantallas grandes (entre 769px y 992px) */
@media (min-width: 769px) and (max-width: 992px) {

  .background-image {
    height: 45vh;
    h1 {
      font-size: 3.2rem; /* Tamaño de fuente para pantallas grandes */
    }
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
  .text-box-h3 {
    top: 64%;
  }
  .mapouter {
    height: 270px;
    width: 70%;
  }
  .gmap_canvas {
    height: 270px;
  }
  .gmap_iframe {
    height: 250px !important;
  }
}

/* Estilos responsivos para pantallas mayores a 992px */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: block !important;
    flex-basis: content; /* Esto significa que el tamaño base de los elementos se ajustará automáticamente al contenido que contienen. */
  }
}
