/* Estilos responsivos para pantallas pequeñas (576px o menos) */
@media (max-width: 576px) {
  main {
    .background-image {
      height: 30vh;
      .text-box {
        .h1Index {
          font-size: 1.5rem;
        }
        h2 {
          font-size: 1.1rem;
        }
      }
    }
    .index{
      div{
        div{
          .imgMain{
            width: 80%;
          }
        }
      }
    }
    section {
      h3 {
        font-size: 1.3rem ;
      }
    }
    div {
      h4 {
        font-size: 1.1rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
  .boxContacto {
    width: 95%;
    margin: auto;
    h3 {
      font-size: 1.1rem;
    }
  }
  .contacto {
    .mapouter {
      height: 200px;
      width: 100%;
      .gmap_canvas {
        height: 200px;
        .gmap_iframe {
          height: 180px;
        }
      }
    }
    .pContacto {
      text-align: center;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .tabla {
    h5 {
      font-size: 1rem;
    }
  }
  .programas {
    text-align: center;
    h4 {
      font-size: 1rem;
    }
    h5 {
      font-size: 0.9rem;
    }
  }
  .boxContacto {
    h3 {
      font-size: 1.3rem;
    }
    h5 {
      font-size: 1rem;
    }
  }
  .seleccionados {
    h5 {
      font-size: 1rem;
    }
  }
}

/* Estilos responsivos para pantallas medianas (entre 577px y 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  main {
    .background-image {
      height: 40vh;
      .text-box {
        h1 {
          font-size: 2.35rem;
        }
        h2 {
          font-size: 1.8rem;
        }
      }
    }
    .index {
      div {
        h3 {
          font-size: 1.7rem;
        }
        div{
          .imgMain{
            width: 80%;
          }
        }
      }
      div {
        h4 {
          font-size: 1.4rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
  .contacto {
    .mapouter {
      height: 220px;
      width: 80%;
      .gmap_canvas {
        height: 220px;
        .gmap_iframe {
          height: 200px;
        }
      }
    }
    .pContacto {
      text-align: center;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .boxContacto {
    h3 {
      font-size: 1.4rem;
    }
    h5 {
      font-size: 1.1rem;
    }
  }
  .tabla {
    .Programa-1 {
      h5 {
        font-size: 1rem;
      }
    }
  }
  .programas {
    text-align: center;
    h4 {
      font-size: 1.1rem;
    }
  }
}

// /* Estilos responsivos para pantallas grandes (entre 769px y 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  main {
    .background-image {
      height: 45vh;
      .text-box {
        h1 {
          font-size: 3.2rem;
        }
        h2 {
          font-size: 2rem;
        }
      }
    }
    .index {
      div {
        h3 {
          font-size: 2rem;
        }
      }
      div {
        h4 {
          font-size: 1.4rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
  .contacto {
    .mapouter {
      height: 270px;
      width: 64%;
      .gmap_canvas {
        height: 270px;
        .gmap_iframe {
          height: 250px;
        }
      }
    }
    .pContacto {
      text-align: center;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .boxContacto {
    h3 {
      font-size: 1.6rem;
    }
    h5 {
      font-size: 1.2rem;
    }
  }
  .tabla {
    .Programa-1 {
      h5 {
        font-size: 1rem;
      }
    }
  }
  .programas {
    text-align: center;
    h4 {
      font-size: 1.3rem;
    }
  }
}

// /* Estilos responsivos para pantallas mayores a 992px */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: block;
    flex-basis: content; /* Esto significa que el tamaño base de los elementos se ajustará automáticamente al contenido que contienen. */
  }
}
