/* Estilos responsivos para pantallas pequeñas (576px o menos) */
@media (max-width: 576px) {
  main {
    .background-image {
      height: 30vh !important;
      .text-box {
        h1 {
          font-size: 1.5rem !important;
        }
        h3 {
          font-size: 1.1rem !important;
        }
      }
    }
    .index {
      div {
        h2 {
          font-size: 1.3rem !important;
        }
      }
      div {
        h4 {
          font-size: 1.1rem !important;
        }
        p {
          font-size: 0.9rem !important;
        }
      }
    }
  }
  .contacto {
    .mapouter {
      height: 200px !important;
      width: 100%;
      .gmap_canvas {
        height: 200px !important;
        .gmap_iframe {
          height: 180px !important;
        }
      }
    }
  }
  .boxContacto {
    .boxContacto {
      width: 95%;
      margin: auto;
      h3 {
        font-size: 1.1rem !important;
      }
    }
  }
  .tabla {
    .Programa-1 {
      SSS h5 {
        font-size: 1rem !important;
      }
    }
  }
}

// /* Estilos responsivos para pantallas medianas (entre 577px y 768px) */
// @media (min-width: 577px) and (max-width: 768px) {
//   .background-image {
//     height: 40vh;
//     h1 {
//       font-size: 2.35rem;
//     }
//   }
//   h2 {
//     font-size: 2rem;
//   }
//   h3 {
//     font-size: 1.7rem;
//   }
//   h4 {
//     font-size: 1.4rem;
//   }
//   h5 {
//     font-size: 1rem;
//   }
//   p {
//     font-size: 0.8rem;
//   }
//   .mapouter {
//     height: 220px;
//     width: 70%;
//   }
//   .gmap_canvas {
//     height: 220px;
//   }
//   .gmap_iframe {
//     height: 200px !important;
//   }
//   .boxProgramas1 {
//     align-items: center;
//     justify-content: center;
//   }
//   .boxProgramas2 {
//     align-items: center;
//     justify-content: center;
//   }
// }

// /* Estilos responsivos para pantallas grandes (entre 769px y 992px) */
// @media (min-width: 769px) and (max-width: 992px) {
//   .background-image {
//     height: 45vh;
//     h1 {
//       font-size: 3.2rem; /* Tamaño de fuente para pantallas grandes */
//     }
//   }
//   h2 {
//     font-size: 2.5rem;
//   }
//   h3 {
//     font-size: 2rem;
//   }
//   h4 {
//     font-size: 1.5rem;
//   }
//   h5 {
//     font-size: 1.2rem;
//   }
//   p {
//     font-size: 1rem;
//   }
//   .text-box-h3 {
//     top: 64%;
//   }
//   .mapouter {
//     height: 270px;
//     width: 70%;
//   }
//   .gmap_canvas {
//     height: 270px;
//   }
//   .gmap_iframe {
//     height: 250px !important;
//   }
// }

// /* Estilos responsivos para pantallas mayores a 992px */
// @media (min-width: 992px) {
//   .navbar-expand-lg .navbar-collapse {
//     display: block !important;
//     flex-basis: content; /* Esto significa que el tamaño base de los elementos se ajustará automáticamente al contenido que contienen. */
//   }
// }
