/* Estilos responsivos para pantallas peque침as (576px o menos) */
@media (max-width: 576px) {
  main {
    .background-image {
      height: 30vh !important;
      .text-box {
        h1 {
          font-size: 1.5rem !important;
        }
        h2 {
          font-size: 1.1rem !important;
        }
      }
    }
    .index{
      div{
        div{
          .imgMain{
            width: 80%;
          }
        }
      }
    }
    section {
      h3 {
        font-size: 1.3rem !important;
      }
    }
    div {
      h4 {
        font-size: 1.1rem !important;
      }
      p {
        font-size: 0.9rem !important;
      }
    }
  }
  .boxContacto {
    width: 95%;
    margin: auto;
    h3 {
      font-size: 1.1rem !important;
    }
  }
  .contacto {
    .mapouter {
      height: 200px !important;
      width: 100%;
      .gmap_canvas {
        height: 200px !important;
        .gmap_iframe {
          height: 180px !important;
        }
      }
    }
    .pContacto {
      text-align: center !important;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .tabla {
    h5 {
      font-size: 1rem !important;
    }
  }
  .programas {
    text-align: center;
    h4 {
      font-size: 1rem;
    }
    h5 {
      font-size: 0.9rem;
    }
  }
  .boxContacto {
    h3 {
      font-size: 1.3rem !important;
    }
    h5 {
      font-size: 1rem;
    }
  }
  .seleccionados {
    h5 {
      font-size: 1rem !important;
    }
  }
}

/* Estilos responsivos para pantallas medianas (entre 577px y 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  main {
    .background-image {
      height: 40vh !important;
      .text-box {
        h1 {
          font-size: 2.35rem !important;
        }
        h2 {
          font-size: 1.8rem !important;
        }
      }
    }
    .index {
      div {
        h3 {
          font-size: 1.7rem !important;
        }
        div{
          .imgMain{
            width: 80%;
          }
        }
      }
      div {
        h4 {
          font-size: 1.4rem !important;
        }
        p {
          font-size: 1rem !important;
        }
      }
    }
  }
  .contacto {
    .mapouter {
      height: 220px !important;
      width: 80%;
      .gmap_canvas {
        height: 220px !important;
        .gmap_iframe {
          height: 200px !important;
        }
      }
    }
    .pContacto {
      text-align: center !important;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .boxContacto {
    h3 {
      font-size: 1.4rem !important;
    }
    h5 {
      font-size: 1.1rem !important;
    }
  }
  .tabla {
    .Programa-1 {
      h5 {
        font-size: 1rem !important;
      }
    }
  }
  .programas {
    text-align: center;
    h4 {
      font-size: 1.1rem;
    }
  }
}

// /* Estilos responsivos para pantallas grandes (entre 769px y 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  main {
    .background-image {
      height: 45vh !important;
      .text-box {
        h1 {
          font-size: 3.2rem !important;
        }
        h2 {
          font-size: 2rem !important;
        }
      }
    }
    .index {
      div {
        h3 {
          font-size: 2rem !important;
        }
      }
      div {
        h4 {
          font-size: 1.4rem !important;
        }
        p {
          font-size: 1rem !important;
        }
      }
    }
  }
  .contacto {
    .mapouter {
      height: 270px !important;
      width: 64%;
      .gmap_canvas {
        height: 270px !important;
        .gmap_iframe {
          height: 250px !important;
        }
      }
    }
    .pContacto {
      text-align: center !important;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .boxContacto {
    h3 {
      font-size: 1.6rem !important;
    }
    h5 {
      font-size: 1.2rem;
    }
  }
  .tabla {
    .Programa-1 {
      h5 {
        font-size: 1rem !important;
      }
    }
  }
  .programas {
    text-align: center;
    h4 {
      font-size: 1.3rem;
    }
  }
}

// /* Estilos responsivos para pantallas mayores a 992px */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: block !important;
    flex-basis: content; /* Esto significa que el tama침o base de los elementos se ajustar치 autom치ticamente al contenido que contienen. */
  }
}
