.tabla {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: stretch;
  justify-items: stretch;
  align-items: center;
  grid-template-areas:
    "Titulo Titulo"
    "Programa-1 Precio-1"
    "Programa-2 Precio-2"
    "Programa-3 Precio-3"
    "Titulo-2 Titulo-2"
    "Programa-4 Precio-4"
    "Programa-5 Precio-5"
    "Programa-6 Precio-6"
    "Titulo-3 Titulo-3"
    "Programa-7 Precio-7"
    "Programa-8 Precio-8"
    "Titulo-4 Titulo-4"
    "Programa-9 Precio-9"
    "Programa-10 Precio-10";
  width: 95%;
  margin: 0 auto;
  .Titulo {
    justify-self: stretch;
    align-self: center;
    grid-area: Titulo;
    border-bottom: 1px solid #ddd; /* Línea gris claro */
    margin-bottom: 0 !important;
    h4 {
      color: $colorBase;
    }
  }
  .Programa-1 {
    grid-area: Programa-1;
  }
  .Precio-1 {
    justify-self: end;
    grid-area: Precio-1;
  }
  .Programa-2 {
    grid-area: Programa-2;
  }
  .Precio-2 {
    justify-self: end;
    grid-area: Precio-2;
  }
  .Programa-3 {
    grid-area: Programa-3;
  }
  .Precio-3 {
    justify-self: end;
    grid-area: Precio-3;
  }
  .Titulo-2 {
    justify-self: stretch;
    align-self: center;
    grid-area: Titulo-2;
    border-bottom: 1px solid #ddd; /* Línea gris claro */
    margin-bottom: 0 !important;
    h4 {
      color: $colorBase;
    }
  }
  .Programa-4 {
    grid-area: Programa-4;
  }
  .Precio-4 {
    justify-self: end;
    grid-area: Precio-4;
  }
  .Programa-5 {
    grid-area: Programa-5;
  }
  .Precio-5 {
    justify-self: end;
    grid-area: Precio-5;
  }
  .Programa-6 {
    grid-area: Programa-6;
  }
  .Precio-6 {
    justify-self: end;
    grid-area: Precio-6;
  }
  .Titulo-3 {
    justify-self: stretch;
    align-self: center;
    grid-area: Titulo-3;
    border-bottom: 1px solid #ddd; /* Línea gris claro */
    margin-bottom: 0 !important;
    h4 {
      color: $colorBase;
    }
  }
  .Programa-7 {
    grid-area: Programa-7;
  }
  .Precio-7 {
    justify-self: end;
    grid-area: Precio-7;
  }
  .Programa-8 {
    grid-area: Programa-8;
  }
  .Precio-8 {
    justify-self: end;
    grid-area: Precio-8;
  }
  .Titulo-4 {
    justify-self: stretch;
    align-self: center;
    grid-area: Titulo-4;
    border-bottom: 1px solid #ddd; /* Línea gris claro */
    margin-bottom: 0 !important;
    h4 {
      color: $colorBase;
    }
  }
  .Programa-9 {
    grid-area: Programa-9;
  }

  .Precio-9 {
    justify-self: end;
    grid-area: Precio-9;
  }

  .Programa-10 {
    grid-area: Programa-10;
  }

  .Precio-10 {
    justify-self: end;
    grid-area: Precio-10;
  }
}
