.programas {
  .textoGris {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    color: gray;
    padding: 2px;
  }
  .lineaCeleste {
    border: 3px solid $colorBase;
    width: 10%;
    opacity: 1;
    margin: 0 auto 15px auto;
  }
  div {
    div {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .boxProgramas1 {
        align-items: flex-end;
        .imgProgramas {
          width: 100% !important;
          padding: 10px;
          padding-bottom: 10px;
          align-content: center;
        }
      }
    }
    div {
      .boxProgramas2 {
        align-items: flex-start;
        align-content: center;
      }
      h4 {
        font-size: 1.7rem;
        color: $colorBase;
      }
      p {
        text-align: justify;
      }
    }
  }
}
